{% set pkgs = salt['grains.filter_by']({
    'Suse': {
        'pkgs': ['git', 'libxslt-devel', 'mutt', 'nginx', 'nmap', 'smplayer',
                 'tmux'],
        'confs': ['.alias', '.bashrc', '.gitconfig',
                  '.muttrc', '.tmux.conf', '.vimrc'],
    },
    'Debian': {
        'pkgs': ['git', 'libxslt1-dev', 'mutt', 'nginx', 'nmap', 'smplayer',
                 'tmux'],
        'confs': ['.alias', '.bashrc', '.gitconfig',
                  '.muttrc', '.tmux.conf', '.vimrc'],
    },
}) %}
