{% set pkgs = salt['grains.filter_by']({
    'Suse': {
        'pkgs': ['ctags', 'docker', 'docker-bash-completion',
                 'git', 'mutt', 'nginx', 'nmap', 'smplayer',
                 'tmux'],
        'confs': ['.alias', '.bashrc', '.gitconfig',
                  '.muttrc', '.tmux.conf', '.vimrc'],
    },
}) %}
